@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

::selection {
    background-color: rgba(255, 255, 255, 0.5)!important;
    color: black!important;
}

::-moz-selection {
    background-color: rgba(255, 255, 255, 0.5)!important;
    color: black!important;
}

* {
    background-color: #0F0616;
    color: #FFFFFF;
    caret-color: #FF69B4!important;
    font-family: "Source Code Pro", monospace!important;
    font-optical-sizing: auto;
    font-size: 1.5rem;
    font-style: normal;
}

a {
    color: #FF69B4;
    font-weight: bold;
    text-decoration: none;
}

#header,
#input,
#output {
    display: block;
    width: 100%;
}