@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.centered {
    text-align: center;
}

body {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;

    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    font-size: 2rem;

    background-color: #0F0616;
}

a {
    text-decoration: none;
    color: #9966cc;
}

.constant {
    color: #A2BFFE;
    font-size: italic;
}