@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.centered {
    text-align: center;
}

body,
table {
    background-color: #01111F; /* Mariana Blue */
    color: #FFFFFF;
    
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-size: 2rem;
    font-style: normal;

    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vh;
}

a {
    color: #FF69B4;  /* Abstract Pink */

    font-weight: bold;

    text-decoration: none;
}

.constant,
sl-c {
    color: #00FFFF;  /* Seafaring Cyan */

    font-style: italic;
    font-weight: bold;
}

.variable,
sl-v {
    color: #808080;   /* Blubber Gray */

    font-style: italic;
}

pre {
    overflow-x: auto;
}

.bordered-cell {
    border: 2px solid white;
}

td {
    padding: 10px;
}